@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn {
        @apply transform transition inline-block px-8 py-2 rounded-lg focus:outline-none focus:ring focus:ring-offset-2
        uppercase tracking-wider font-semibold text-sm sm:text-base duration-500 ease-in-out hover:scale-105
    }
    .btn-primary1 {
        @apply bg-yellow-900 hover:bg-yellow-600
        focus:ring-yellow-900 focus:ring-opacity-50 
        active:bg-yellow-400 text-yellow-100 hover:-translate-y-1 border-2 border-gray-100;
    }
    .btn-primary2 {
        @apply bg-gray-800 hover:bg-gray-600
        focus:ring-gray-800 focus:ring-opacity-50 
        active:bg-gray-500 text-gray-100 hover:-translate-y-1 border-2 border-gray-100;
    }
    .btn-primary3 {
        @apply bg-indigo-700 hover:bg-indigo-500
        focus:ring-indigo-600 focus:ring-opacity-50 
        active:bg-indigo-400 text-indigo-100 hover:-translate-y-1 border-2 border-gray-100;
    }
    .btn-primary4 {
        @apply bg-lime-900 hover:bg-lime-500
        focus:ring-lime-600 focus:ring-opacity-50 
        active:bg-lime-400 text-lime-100 hover:-translate-y-1 border-2 border-gray-900;
    }
    .btn-secondary {
        @apply bg-gray-300 hover:bg-gray-200
        focus:ring-gray-300 focus:ring-opacity-50 
        active:bg-gray-400 text-gray-800 hover:-translate-y-1;
    }
    .btn-live {
        @apply bg-red-100 hover:bg-red-400
        focus:ring-red-500 focus:ring-opacity-50 
        active:bg-red-700 text-red-600 shadow-lg hover:-translate-y-1 border-2 border-red-500 bg-opacity-90 hover:bg-opacity-30;
    }

    .social-btn {
        @apply w-full text-neutral-400 hover:text-neutral-200 hover:-translate-y-1 transform transition active:text-neutral-500 duration-500 ease-in-out
    }

    .tech-labels {
        @apply mr-4 mb-4 px-6 py-2 opacity-90 text-white rounded-md tracking-wide shadow-2xl drop-shadow-2xl text-lg
    }
    
}